<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Расчёт_Себестоимости.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <Расчёт_Себестоимости.Properties.Settings>
            <setting name="IdFurniture" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IdMaterials" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IdResources" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IdFur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Execute" serializeAs="String">
                <value>False</value>
            </setting>
        </Расчёт_Себестоимости.Properties.Settings>
    </userSettings>
<connectionStrings><add name="CalculationEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NIKITA;initial catalog=Calculation;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>